<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971350406704-cgdo7eh16qc7nihhns7mkrk6p01gbvf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971350406704-cgdo7eh16qc7nihhns7mkrk6p01gbvf5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>971350406704-fpd6uii8ibjpcjem0i9jpcred1su0vca.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_XkcaMrDy-ilebIjiWGh2NpQHWxaUcno</string>
	<key>GCM_SENDER_ID</key>
	<string>971350406704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbServiceTestApp</string>
	<key>PROJECT_ID</key>
	<string>pruebas-fire-base</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebas-fire-base.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971350406704:ios:00951937c0f0a15ae09ff5</string>
	<key>DATABASE_URL</key>
	<string>https://pruebas-fire-base.firebaseio.com</string>
</dict>
</plist>